.ask {
    position: fixed;
    bottom: 29px;
    right: 22px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.ask svg.roboticon{
    color: #000000d9;
    width: 100%;
    height: 100%;
}

.ask svg.roboticon {
    color: #b4b4b4;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 6px;
    backdrop-filter: blur(8px);
    box-shadow: inset 0px 0px 11px 0px #ffffff2b;
}

.ask svg.roboticon:hover {
    color: #000000d9;
    background: #f2d9d92e;
    width: 100%;
    height: 100%;
}

.botModal {
    position: fixed;
    bottom: 23px;
    right: 6px;
    width: 300px;
    /* height: 367px; */
    height: 396px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 44px #ffffff57;
    backdrop-filter: blur(10px);
    border-radius: 7px;
    transform: translateX(100%);
    opacity: 0; 
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.hidChat {
    transform: translateX(100%);
    opacity: 0;
}

.ShowChat {
    transform: translateX(0);
    opacity: 1;
}

.ask {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}

.botModal .header{
    display: flex;
    width: 100%;
    height: 15%;
    box-shadow: inset 0px 0px 7px 0px #ffffff1f;
    backdrop-filter: blur(20px);
    justify-content: flex-start;
    gap: 10px;
    padding: 0px 9px;
    align-items: center;
    border-radius: 9px;
}

.botModal .header .profile {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    background: #00000038;
}

.Bot p{
    max-width: 83%;
}

.carbon--close-filled {
  display: inline-block;
  width: 23px;
  height: 23px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23000' d='M16 2C8.2 2 2 8.2 2 16s6.2 14 14 14s14-6.2 14-14S23.8 2 16 2m5.4 21L16 17.6L10.6 23L9 21.4l5.4-5.4L9 10.6L10.6 9l5.4 5.4L21.4 9l1.6 1.6l-5.4 5.4l5.4 5.4z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  position: absolute;
    top: 3px;
    right: 3px;
}

.icon-park-solid--robot-one {
  display: inline-block;
  width: 32px;
  height: 32px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cdefs%3E%3Cmask id='ipSRobotOne0'%3E%3Cg fill='none'%3E%3Crect width='30' height='24' x='9' y='18' fill='%23fff' stroke='%23fff' stroke-width='4' rx='2'/%3E%3Ccircle cx='17' cy='26' r='2' fill='%23000'/%3E%3Ccircle cx='31' cy='26' r='2' fill='%23000'/%3E%3Cpath fill='%23000' d='M20 32a2 2 0 1 0 0 4zm8 4a2 2 0 1 0 0-4zm-8 0h8v-4h-8z'/%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='4' d='M24 10v8M4 26v8m40-8v8'/%3E%3Ccircle cx='24' cy='8' r='2' stroke='%23fff' stroke-width='4'/%3E%3C/g%3E%3C/mask%3E%3C/defs%3E%3Cpath fill='%23000' d='M0 0h48v48H0z' mask='url(%23ipSRobotOne0)'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
      margin: 7px;
}

.carbon--close-filled:hover{
    background: black;
}

form#botForm {
    height: 10%;
    display: flex;
    justify-content: space-between;
}

input#userInput {
    width: 84%;
    height: 100%;
    border-radius: 0 0 0 9px;
    background: none;
    color: white;
    text-shadow: 2px 5px 1px #00000054;
    padding: 0 10px;
}

form#botForm button{
    background: none;
    height: 100%;
    width: 46px;
    border: unset;
}

form#botForm svg{
    color: white;
}

form#botForm svg:hover{
    color: black;
}

.botModal .header p {
    color: #ffffffc7;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.user p {
    max-width: 78%;
}

.message {
    display: flex;
    max-height: 75%;
    min-height: 75%;
    padding: 10px 10px;
    overflow-y: scroll;
    flex-direction: column;
}

.message > div {    
    margin: 3px 0;
}

.message .Bot, .user{
    display: flex;

}

.message .user{
    justify-content: flex-end;
}

.message .Bot{
    justify-content: flex-start;
}

.message p {
    font-size: 13px;
    text-shadow: -2px 0px 3px #000000, 0px -1px 3px black, 2px 0px 3px black, 0px 1px 3px black;
    padding: 0 5px;
    border-radius: 4px;
    box-shadow: inset 0px 0px 9px #ffffff30, 0px 0px 2px 0px #000000;
}

.message .img {
    max-width: 100px;
    max-height: 100px;
    min-width: 100px;
    min-height: 100px;
    margin: 9px auto;
    border-radius: 50%;
    box-shadow: inset 0px 0px 20px #ffffff2b, 0px 0px 20px #0000006e;
    overflow: hidden;
}

.message .img img {
    width: 100%;
    height: 100%;
}

.img svg {
    width: 77px;
    height: 77px;
    margin: 11px;
}

.message h6 {
    margin: 7px 0;
    text-align: center;
}

.message::-webkit-scrollbar {
    width: 4px;
}

.message::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}