:root {
    --bg-color: #232f34;
    --sec-bg-color: #1a2528;
    --txt-color: #f2d9d9;
    --accent-color: #ff6b6b;
    --shadow-color: #000000;
    --text-shadow: -5px 4px 6px var(--shadow-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: var(--sec-bg-color);
    color: var(--txt-color);
}

header {
    background-color: #00496714;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: inset -1px -9px 20px rgb(255 255 255 / 14%);
    backdrop-filter: blur(13px);
}

#logo a {
    color: var(--txt-color);
    font-size: 1.8rem;
    font-weight: 700;
    text-decoration: none;
    transition: color 0.3s ease;
}

#logo a:hover {
    color: var(--accent-color);
}

#menu{
    display: none;
}

nav#navbar p {
    display: none;
}

nav#navbar.active {
    transform: translateX(0); 
}

nav ul{
    display: flex;
    gap: 2rem;
    list-style: none;
    flex-direction: row;
}

nav a {
    color: var(--txt-color);
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

nav a:hover {
    color: var(--accent-color);
}


#welcome-section {
    min-height: 68vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
    background: linear-gradient(135deg, var(--sec-bg-color), var(--bg-color));
    margin-top: 60px;
}

#welcome-section {
    opacity: 1; 
    transition: opacity 0.3s ease;
}

#welcome-section > div {
    text-align: center;
}

#welcome-section .data {
    max-width: 600px;
}

#welcome-section h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--txt-color);
    text-shadow: var(--text-shadow);
}

#welcome-section p {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
    text-shadow: var(--text-shadow);
}

#welcome-section img#profile-pic {
    z-index: 3;
}


#skills {
    margin-top: 2rem;
}

h2 {
    text-shadow: var(--text-shadow);
}

#skills h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--txt-color);
}

#skills ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    list-style: none;
}

#skills li {
    border: none;
    display: flex;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: 1rem;
    backdrop-filter: blur(9px);
    box-shadow: inset 0 0 9px 0px #ffffff26;
}

#welcome-section img {
    width: 350px;
    height: 350px;
    border-radius: 74px 92px 43px 120px;
    margin: 2rem;
    border: 3px solid var(--accent-color);
    box-shadow: var(--text-shadow);
    cursor: pointer;
    mix-blend-mode: hard-light;
    transition: transform 0.3s ease
}

#welcome-section img:hover {
    transform: scale(1.05);
}

/* Projects Section */
#projects {
    padding: 3rem 2rem 0.5rem 2rem;
    background-color: var(--sec-bg-color);
}

#projects-container.active {
  cursor: grabbing;
  user-select: none;
}

#projects h2 {
    text-align: center;
    font-size: 2.2rem;
    margin: 2.5rem 0 .5rem 0;
    color: var(--txt-color);
}

.tiles {
    display: flex;
    gap: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    max-height: 81vh;
    overflow-y: auto;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 11px 0;
    cursor: grab;
}

.tiles.dragging {
    cursor: grabbing;
    scroll-behavior: auto; 
}

.tiles::-webkit-scrollbar {
    height: 8px;
}

.tiles::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.project-tile {
    padding: 13px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 350px;
    height: 333px;
    box-shadow: inset 0px 0 35px #ffffff42;
    backdrop-filter: blur(4px);
    /* pointer-events: none; */
}

.project-tile:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.project-tile img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    -webkit-user-drag: none;
}

.project-tile img:hover {
    transform: scale(1.05);
}

.project-tile h3{
    font-size: 12px;
    margin: 1rem 0;
}

.project-tile p {
    font-size: 14px;
    color: #d1bdbd;
}
.project-tile a {
    display: inline-block;
    margin-top: 1rem;
    color: var(--txt-color);
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s ease;
}

.project-tile a:hover {
    color: #ff8787;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.modal.show {
    display: flex;
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    position: relative;
    margin: auto;
    padding: 20px;
    max-width: 90%;
    max-height: 90vh;
    transform: scale(0.7);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.modal.show .modal-content {
    /* transform: scale(1); */
    opacity: 1;
    min-width: -webkit-fill-available;
}

#modalImage, #profileModalImage {
    width: 100%;
    height: auto;
    max-height: 80vh;
    object-fit: contain;
}

.close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.modal.show .close {
    opacity: 1;
    transition-delay: 0.1s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Profile Modal Navigation */
.modal-nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.modal-btn {
    padding: 0.5rem 1rem;
    background-color: var(--accent-color);
    color: var(--txt-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.modal-btn:hover {
    background-color: #ff8787;
}

/* Contact Section */
#contact {
    height: 92vh;
    padding: 4rem 2rem;
    background: var(--bg-color);
    text-align: center;
}

#contact h2 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    color: var(--txt-color);
}

#contact p{
    display: flex;
    color: var(--txt-color);
    align-content: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 0 19px 0;
}

.contact-links {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.contact-links a {
    display: flex;
    align-items: flex-start;
    color: var(--txt-color);
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.contact-links a:hover {
    color: var(--accent-color);
}

.contact-links span {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: var(--txt-color);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

#certifications {
    /* padding: 3rem 2rem; */
    padding: 3rem 2rem 0.5rem 2rem;
    background-color: var(--sec-bg-color);
    text-align: center;
}

#certifications h2 {
    font-size: 2.2rem;
    margin: 3.5rem 0 .5rem 0;
    color: var(--txt-color);
}

.certificates{
    display: flex;
    gap: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    max-height: 912px;
    overflow-y: auto;
    padding: 11px 0 8px 0;
    border-radius: 11px;
    flex-wrap: wrap;
    flex-direction: column;
}

.certificates::-webkit-scrollbar {
    height: 8px;
}

.certificates::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

.certificates::-webkit-scrollbar-thumb:hover {
    background: #888888ad;
}

.certificate-tile {
    position: relative;
    display: flex;
    padding: 0.5rem 10px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex-direction: column;
    justify-content: space-between;
    width: 210px;
    height: 304px;
    overflow: hidden;
    backdrop-filter: blur(4px);
    box-shadow: inset 0px 0px 35px #ffffff2b;
}


.certificate-tile:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.certificate-tile h3 {
    font-size: 19px;
    margin: 8px 0;
    color: var(--txt-color);
}

.certificate-tile p {
    font-size: 13px;
    color: #d1bdbd;
}

.certificate-link{
    display: inline-block;
    margin: 7px auto 0;
    padding: 8px 12px;
    background-color: #2f3943;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background 0.3s ease;
    width: 152px;
}

.certificate-link:hover {
    background-color: #333333;
}

.certificate-tile::before {
    content: "";
    position: absolute;
    top: -50px;
    left: -50px;
    width: 150px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 0.4s ease, transform 0.4s ease;
    z-index: 0;
}

.certificate-tile:hover::before,.certificate-tile:hover::after {
    opacity: 1;
    transform: scale(1);
}

.certificate-tile::after {
    content: "";
    position: absolute;
    top: 209px;
    left: 111px;
    width: 150px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 0.4s ease, transform 0.4s ease;
    z-index: 0;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(20px);
    }
}

/* .fade-in {
    animation: fadeIn 1.9s ease-out forwards;
}

.fade-out {
    animation: fadeOut 1.9s ease-out forwards;
}

#welcome-section,
#certifications,
#projects,
#contact {
    opacity: 0;
} */

.ic--baseline-facebook {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23f2d9d9' d='M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12c0 4.84 3.44 8.87 8 9.8V15H8v-3h2V9.5C10 7.57 11.57 6 13.5 6H16v3h-2c-.55 0-1 .45-1 1v2h3v3h-3v6.95c5.05-.5 9-4.76 9-9.95'/%3E%3C/svg%3E");
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
}

.mdi--instagram {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23f2d9d9' d='M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3'/%3E%3C/svg%3E");
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
}

.ic--baseline-tiktok {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23f2d9d9' d='M16.6 5.82s.51.5 0 0A4.28 4.28 0 0 1 15.54 3h-3.09v12.4a2.59 2.59 0 0 1-2.59 2.5c-1.42 0-2.6-1.16-2.6-2.6c0-1.72 1.66-3.01 3.37-2.48V9.66c-3.45-.46-6.47 2.22-6.47 5.64c0 3.33 2.76 5.7 5.69 5.7c3.14 0 5.69-2.55 5.69-5.7V9.01a7.35 7.35 0 0 0 4.3 1.38V7.3s-1.88.09-3.24-1.48'/%3E%3C/svg%3E");
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
}

@media (max-width: 1024px) {
    .certificates { height: 654px;}
}

@media (max-width: 768px) {
    .certificates { height: 654px; }
    #welcome-section { flex-direction: column; text-align: center; padding: 1.5rem 1rem; }
    #welcome-section img { width: 250px; height: 250px; margin: 1rem auto; }
    #welcome-section h1 { font-size: 2rem; }
    #welcome-section p { font-size: 1.1rem; }
    #menu{
        display: block;
    }
    nav#navbar p {
        display: block;
    }
    nav ul {
        display: flex;
        gap: 2rem;
        list-style: none;
        flex-direction: column;
    }

    nav#navbar {
        position: absolute;
        display: flex;
        left: 0;
        top: 11px;
        width: 100%;
        height: 100vh;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        justify-content: space-around;
        flex-direction: row-reverse;
        padding: 26px 0 0 0;
        z-index: 1000;
        gap: 120px;
        background: #232f34f7;
    }
}

@media (max-width: 375px) {
    .certificates { height: 41rem; }
}


nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

nav ul li a.active {
    color: rgb(255 255 255);
    font-weight: bold;
    border-bottom: 2px solid rgb(255 255 255);
}

li.hover{
    border: 1px solid #606060;
}

.certificate-tile::before {
    content: "";
    position: absolute;
    top: -50px;
    left: -50px;
    width: 150px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 0.4s ease, transform 0.4s ease;
    z-index: 0;
    filter: blur(4px);
}

.certificate-tile:hover::before {
    opacity: 1;
    transform: scale(1);
}

.certificate-tile::after {
    content: "";
    position: absolute;
    top: 209px;
    left: 111px;
    width: 150px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 0.4s ease, transform 0.4s ease;
    z-index: 0;
    filter: blur(4px);
}

.certificate-tile:hover::after {
    opacity: 1;
    transform: scale(1);
}

section#contact{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

section#contact form input[type="email"], textarea {
    border-radius: 5px;
}

section#contact form{
    display: flex;
    flex-direction: column;
    width: 272px;
    gap: 10px;
    padding: 16px;
    border: 1px solid #f5deb363;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 0px black;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    min-height: 182px;
}

section#contact form h5 {
    text-shadow: 3px 2px 0px black;
}

section#contact form button {
    width: 65px;
    background: var(--bg-color);
    border: 1px solid black;
    border-radius: 4px;
    color: var(--txt-color);
    margin: auto;
}

section#contact form button:hover {
    background: var(--sec-bg-color);
    color: var(--txt-color);
}