.hover:hover {
    animation: underline 0.3s ease-in-out forwards;
}

.hover:not(:hover) {
    animation: underline-reverse 0.3s ease-in-out forwards;
}

@keyframes underline {
    from {
        background: linear-gradient(to right, currentColor 5%, transparent 50%);
        background-size: 0% 100%; 
    }
    to {
        background: linear-gradient(to right, currentColor 5%, transparent 50%);
        background-size: 100% 100%;
    }
}

@keyframes underline-reverse {
    from {
        background: linear-gradient(to right, currentColor 5%, transparent 50%);
        background-size: 100% 100%;
    }
    to {
        background: linear-gradient(to right, currentColor 5%, transparent 50%);
        background-size: 0% 100%;
    }
}